streamlit
pandas
sentence-transformers
faiss-cpu
openai
python-docx
pypdf
bcrypt
sqlalchemy
flask
flask-sqlalchemy
flask-login
openai
faiss-cpu
python-docx
pandas
pypdf
dotenv
streamlit-firebase-auth
chromadb
langchain
sentence-transformers
pydantic